# Default ignored files
/workspace.xml
/cluster-rest.iml
/misc.xml
/modules.xml
/vcs.xml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
/dataSources.xml
/sqldialects.xml
